body {
  font-family: Arial, Helvetica, sans-serif
}
main {
    display: block;
    width: 65%;
    margin: 0 auto;
    padding: 1em;
    background: #ffff;
    border: 3px solid rgb(0, 0, 128);
}

h1 {
    margin-top: 0;
    color: navy;
    text-align: center;
}

label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}

#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;   
}

#data span {
    padding: .25em;
}

#buttons input {
    float: left;
    margin-bottom: .5em;
}

br {
    clear: left;
}

h2 {
    text-align: center;
}

th, td {
    padding: 5px 14px;
}

/*  table styling */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    border: 1.5px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ffff;
    color: #000;
}

tr:nth-child(even) {
    background-color: #ffff;
}

tr:hover {
    background-color: #ddd;
}
